
nav{
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color:#81ff5e;
}
input{
  display: block;
  margin-bottom: 10px;
  padding: 5px 15px 5px 15px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  font-size: 16px;
}
input:focus {
    outline:none;
  box-shadow: 5px 5px 2px black;
}
.center{
  align-content: center;
}
.footer{
  color: white;
  position: absolute;
  background-color: #656668;
  min-height: 60px;
  bottom:0;
  width: 100%;
  padding: 10px;
}
.githubLink, .githubLink:hover, .githubLink:active, .githubLink:visited{
  color: white;
}
.wrapper{
  min-height: 120vh;
  position: relative;
  padding-bottom: 100px;
}
.wrapper2{
  min-height: 90vh;
  position: relative;
  padding-bottom: 90px;
}
.title{
  margin-top: 5%;
  font-family: 'Raleway', sans-serif;
}
.titleNav{
  color: black;
  display: inline-block;
  margin-top: 1%;
  font-family: 'Raleway', sans-serif;
  padding: 20px;
}
.menuLink, .menuLink:hover, .menuLink:active, .menuLink:visited{
  color: black;
  margin-top: 1%;
}
.loginButton{
  border: 0px;
  background-color: #e4e8e3;
  padding: 10px;
  border-radius: 5px;
  display: inline;
  margin-left: 3px;
  margin-right: 3px;
  min-width: 100px;
}
.features{
  margin-top: 8%;
 
}
.feature{
  min-height: 50vh;

}
.clipart{
  height: 10vh;
}
.homeDivider{
  border: 1px solid grey;
}
.dashboardTitle{
  padding: 20px;
}
.menu{
  width: 20vw;
  text-align: center;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 15px;
  margin-left: 2%;
  min-height: 60vh;
}
.leftSide{
  vertical-align: top;
  margin-left: 2%;
  display: inline-block;
}
.rightSide{
  padding: 20px;
  margin-top: 3%;
  display: inline-block;
  border: 1px solid grey;
  width: 70vw;
  min-height: 70vh;
  border-radius: 10px;
}
@media only screen and (max-device-width: 480px) {
  .clipart{
    height: 30vh;
  }
  .features{
    margin-top: 7vh;
  }
}